---
- name: Deploy Docker container
  hosts: group1
  tasks: 
    - name: deploy a docker container
      docker_container:
        image: nginx:stable
        name: pgdo_nginx
        state: started
        ports: 
          - "8088:80"
